
# pixi environments
.pixi
*.egg-info
.DS_Store
data
src/py/ocr/__pycache__
src/linkedin_game_data/__pycache__
src/linkedin_game_data/scripts/__pycache__
src/linkedin_game_data/response_normalization/__pycache__
src/linkedin_game_data/response_normalization/name/__pycache__
src/linkedin_game_data/json/__pycache__
